outer-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

center-container {
    width: 608px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

td {
    cursor: pointer;
    border: 4px solid #328488;
    padding: 0 px;
    width: 200px;
    height: 200px;
}

canvas {
    margin: auto;
    position: absolute;
    z-index: 10;
    pointer-events: none;
}

h1 {
    text-align: center;
}